@use "global" as *;
@use "modern-normalize/modern-normalize.css";
@use "utopia-core-scss/src/utopia" as utopia;

:root {
    @include utopia.generateTypeScale((
        "minWidth": 320,
        "maxWidth": 1280,
        "minFontSize": 16,
        "maxFontSize": 22,
        "minTypeScale": 1.2,
        "maxTypeScale": 1.333,
        "positiveSteps": 5,
        "negativeSteps": 2,
        "prefix": "step-",
        "relativeTo": "viewport-width"
    ));

    @include utopia.generateSpaceScale((
        "minWidth": 320,
        "maxWidth": 1280,
        "minSize": 16,
        "maxSize": 22,
        "positiveSteps": (1.5, 2, 3, 4, 6),
        "negativeSteps": (0.75, 0.5, 0.25),
        "customSizes": ("s-l"),
        "prefix": "space-",
        "relativeTo": "viewport-width",
    ));

    --content-max-width: calc(100% - var(--space-s));
    --header-background-color: #FFFAF5;
    --heading-font-family: "Playfair Display", serif;
    --hero-highlight-color: #fff;
    --hero-color: #2F2C35;
    --footer-background-color: #2F2C35;

    --link-bright-color: #fff;
    --link-bright-color-hover: #ccc5c2;

    --button-secondary-color: #cc4e00;

    @include mq($from: md, $until: xl) {
        --content-max-width: calc(100% - var(--space-l));
    }

    @include mq($from: xl) {
        --content-max-width: 1300px;
    }
}

@font-face {
    font-display: swap;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    src: url("@richpods/shared/assets/fonts/playfair-display-v37-latin_latin-ext-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Playfair Display";
    font-style: italic;
    font-weight: 400;
    src: url("@richpods/shared/assets/fonts/playfair-display-v37-latin_latin-ext-italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 600;
    src: url("@richpods/shared/assets/fonts/playfair-display-v37-latin_latin-ext-600.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    src: url("@richpods/shared/assets/fonts/playfair-display-v37-latin_latin-ext-700.woff2") format("woff2");
}

.visually-hidden:not(:focus):not(:active) {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family), serif;
    line-height: 1.2;
    font-weight: normal;
    margin: 0;
    padding: var(--space-m) 0 var(--space-s);
}

h1, h2 {
    font-size: var(--step-5);
}

h3 {
    font-size: var(--step-4);
}

h4 {
    font-size: var(--step-3);
}

p {
    padding: var(--space-xs) 0;
    margin: 0;
    font-size: var(--step-0);
    line-height: 1.3;
}
